{% extends 'base.html' %}
{% load custom_filters %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/blocks/header-white.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/offers.css' %}">
    <link rel="stylesheet" href="{% static 'css/adds/keyframes.css' %}">
{% endblock %}

{% block header %}
    {% include 'include/header-white.html' %}
{% endblock %}

{% block modal_video %}

{% endblock %}

{% block content %}
 <section class="section-offers section">
            <div class="container">
                <div class="offer-item">
                    <h3 class="offer-item__heading">Big Family Vacation offer</h3>
                    <div class="offer-item__wrapper">
                        <div class="offer-item__image-block">
                            <picture>
                                <source srcset="{% static 'img/offers/first.webp' %}" type="image/webp"><img src="{% static 'img/offers/first.png' %}"
                                    alt="family" class="offer-item__image">
                            </picture>
                        </div>
                        <div class="offer-item__info">
                            <h3 class="offer-item__info-heading"> Big Family Vacation offer </h3>
                            <p class="offer-item__info-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                culpa qui officia deserunt mollit anim id est laborum. </p>
                        </div>
                    </div>
                </div>
                <div class="offer-item reverse-bottom">
                    <h3 class="offer-item__heading">Big Family Vacation offer</h3>
                    <div class="offer-item__wrapper">
                        <div class="offer-item__image-block">
                            <picture>
                                <source srcset="{% static 'img/offers/first.webp' %}" type="image/webp"><img src="{% static 'img/offers/first.png' %}"
                                    alt="family" class="offer-item__image">
                            </picture>
                        </div>
                        <div class="offer-item__info">
                            <h3 class="offer-item__info-heading"> Big Family Vacation offer </h3>
                            <p class="offer-item__info-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                culpa qui officia deserunt mollit anim id est laborum. </p>
                        </div>
                    </div>
                </div>
                <div class="offer-item bottom">
                    <h3 class="offer-item__heading">Big Family Vacation offer</h3>
                    <div class="offer-item__wrapper">
                        <div class="offer-item__image-block">
                            <picture>
                                <source srcset="{% static 'img/offers/first.webp' %}" type="image/webp"><img src="{% static 'img/offers/first.png' %}"
                                    alt="family" class="offer-item__image">
                            </picture>
                        </div>
                        <div class="offer-item__info">
                            <h3 class="offer-item__info-heading"> Big Family Vacation offer </h3>
                            <p class="offer-item__info-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                culpa qui officia deserunt mollit anim id est laborum. </p>
                        </div>
                    </div>
                </div>
                <div class="offer-item reverse">
                    <h3 class="offer-item__heading">Big Family Vacation offer</h3>
                    <div class="offer-item__wrapper">
                        <div class="offer-item__image-block">
                            <picture>
                                <source srcset="{% static 'img/offers/first.webp' %}" type="image/webp">
                                <img src="{% static 'img/offers/first.png' %}" alt="family" class="offer-item__image">
                            </picture>
                        </div>
                        <div class="offer-item__info">
                            <h3 class="offer-item__info-heading"> Big Family Vacation offer </h3>
                            <p class="offer-item__info-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                culpa qui officia deserunt mollit anim id est laborum. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

{% block scripts %}


{% endblock %}
