.section-leisure {
    padding-top: 200px
}

.section-leisure .section-header {
    padding: 100px 0
}

.section-leisure .section-header .leisure-buttons-wrapper {
    max-width: 950px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.section-leisure .section-header .leisure-buttons-wrapper .leisure-button {
    color: #3a3a3a;
    font-family: Philosopher, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    background: 0 0;
    padding: 10px 30px
}

.section-leisure .section-header .leisure-buttons-wrapper .leisure-button.active, .section-leisure .section-header .leisure-buttons-wrapper .leisure-button:hover {
    border-bottom: .2px solid #5a5a5a
}

@media (max-width: 1200px) {
    .section-leisure .section-header .leisure-buttons-wrapper .leisure-button {
        font-size: 20px
    }
}

@media (max-width: 768px) {
    .section-leisure .section-header .leisure-buttons-wrapper .leisure-button {
        font-size: 15px;
        padding: 10px 15px
    }
}

@media (max-width: 440px) {
    .section-leisure .section-header .leisure-buttons-wrapper .leisure-button {
        font-size: 12px;
        padding: 10px
    }
}

.section-leisure .section-body {
    overflow: hidden;
    position: relative;
    width: 100%
}

.section-leisure .section-body .leisure-item {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: none
}

.section-leisure .section-body .leisure-item.active {
    display: flex;
    flex-direction: column
}

.section-leisure .section-body .leisure-item .item {
    display: flex;
    flex-direction: column;
    align-items: center
}

.section-leisure .section-body .leisure-item .item::after {
    content: "";
    width: 80%;
    height: 1px;
    margin: 100px 0;
    background: #7e7e7e
}

@media (max-width: 960px) {
    .section-leisure {
        padding-top: 150px
    }

    .section-leisure .section-header {
        padding: 70px 0
    }

    .section-leisure .section-body .leisure-item .item {
        flex-direction: column;
        align-items: center
    }
}

.section-leisure .section-body .leisure-item .item__body {
    display: flex;
    justify-content: space-between;
    width: 100%
}

@media (max-width: 960px) {
    .section-leisure .section-body .leisure-item .item__body {
        flex-direction: column;
        align-items: center
    }
}

.section-leisure .section-body .leisure-item .item.heading .item__header {
    margin-bottom: 50px
}

.section-leisure .section-body .leisure-item .item.heading .item__header img {
    width: 100%
}

.section-leisure .section-body .leisure-item .item.heading .item__body {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between
}

@media (max-width: 960px) {
    .section-leisure .section-body .leisure-item .item.heading .item__body {
        flex-direction: column;
        align-items: center
    }

    .section-leisure .section-body .leisure-item .item.heading .item__body .info {
        width: 90%
    }
}

.section-leisure .section-body .leisure-item .item.heading .item__body .info {
    align-items: flex-start;
    margin-right: 20px
}

.section-leisure .section-body .leisure-item .item.heading .item__body .info .desc, .section-leisure .section-body .leisure-item .item.heading .item__body .info .heading {
    text-align: left
}

.section-leisure .section-body .leisure-item .item .image {
    width: 49%
}

.section-leisure .section-body .leisure-item .item .image__img {
    width: 100%
}

@media (max-width: 960px) {
    .section-leisure .section-body .leisure-item .item.heading .item__body .image {
        width: 90%
    }

    .section-leisure .section-body .leisure-item .item .image__img {
        max-height: 600px;
        object-fit: contain
    }

    .section-leisure .section-body .leisure-item .item .image {
        width: 90%
    }
}

.section-leisure .section-body .leisure-item .item .info {
    margin-left: 20px;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.section-leisure .section-body .leisure-item .item .info .heading {
    font-family: "Cormorant Garamond", serif;
    font-size: 42px;
    line-height: 50px;
    max-width: 432px;
    text-align: right
}

.section-leisure .section-body .leisure-item .item .info .desc {
    margin: 60px 0;
    max-width: 532px;
    text-align: right;
    font-family: "Cormorant Garamond", serif;
    font-size: 22px;
    line-height: 122%
}

@media (max-width: 1200px) {
    .section-leisure .section-body .leisure-item .item .info .desc {
        margin: 30px 0
    }
}

.section-leisure .section-body .leisure-item .item .info .list {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.section-leisure .section-body .leisure-item .item .info .list .li {
    font-family: "Cormorant Garamond", serif;
    font-size: 22px;
    margin-bottom: 20px
}

.section-leisure .section-body .leisure-item .item .info .list .li::after {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(../../img/leisure/list.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block
}

.section-leisure .section-body .leisure-item .item .info .contacts {
    margin-top: 50px;
    padding-left: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row
}

.section-leisure .section-body .leisure-item .item .info .contacts__add {
    margin-right: 20px
}

.section-leisure .section-body .leisure-item .item .info .contacts__add-img {
    width: 100%
}

.section-leisure .section-body .leisure-item .item .info .contacts__items {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.section-leisure .section-body .leisure-item .item .info .contacts__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px
}

.section-leisure .section-body .leisure-item .item .info .contacts__item-text {
    margin-right: 10px;
    color: #000;
    font-size: 22px;
    font-family: Philosopher, sans-serif;
    white-space: nowrap
}

.section-leisure .section-body .leisure-item .last-item__header {
    display: flex;
    width: 100%
}

.section-leisure .section-body .leisure-item .last-item__add-image {
    width: 25%;
    margin-right: 50px
}

@media (max-width: 960px) {
    .section-leisure .section-body .leisure-item .item .info {
        width: 90%;
        margin-top: 50px
    }

    .section-leisure .section-body .leisure-item .item .info .contacts {
        margin-top: 30px
    }

    .section-leisure .section-body .leisure-item .last-item__header {
        position: relative
    }

    .section-leisure .section-body .leisure-item .last-item__add-image {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 60%;
        right: 50px;
        z-index: 10
    }
}

@media (max-width: 570px) {
    .section-leisure .section-body .leisure-item .last-item__add-image {
        width: 100px;
        height: 100px;
        right: 20px
    }
}

.section-leisure .section-body .leisure-item .last-item__add-image img {
    width: 100%
}

.section-leisure .section-body .leisure-item .last-item__body {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.section-leisure .section-body .leisure-item .museum-swiper {
    width: 73%
}

@media (max-width: 960px) {
    .section-leisure .section-body .leisure-item .last-item__body {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 100px
    }

    .section-leisure .section-body .leisure-item .museum-swiper {
        width: 100%
    }
}

.section-leisure .section-body .leisure-item .swiper-slide, .section-leisure .section-body .leisure-item .swiper-slide img, .section-leisure .section-body .leisure-item .swiper-wrapper {
    width: 100%
}

.section-leisure .section-body .leisure-item .swiper-pagination {
    top: unset;
    bottom: 60px
}

@media (max-width: 570px) {
    .section-leisure .section-body .leisure-item .swiper-pagination {
        display: none
    }
}

.section-leisure .section-body .leisure-item .swiper-pagination .swiper-pagination-bullet {
    opacity: .8;
    width: 12px;
    height: 12px;
    background: #fff
}

.section-leisure .section-body .leisure-item .swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1
}

.section-leisure .section-body .leisure-item .contacts {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start
}

@media (max-width: 960px) {
    .section-leisure .section-body .leisure-item .contacts {
        width: 90%;
        margin-top: 40px;
        align-items: flex-end
    }
}

.section-leisure .section-body .leisure-item .contacts-item {
    display: flex;
    align-items: center;
    margin-bottom: 50px
}

.section-leisure .section-body .leisure-item .add-info {
    margin-left: 20px;
    font-size: 22px;
    font-family: Philosopher, sans-serif;
    color: #000
}

@media (max-width: 960px) {
    .section-leisure .section-body .leisure-item .contacts-item {
        margin-bottom: 30px;
        flex-direction: row-reverse
    }

    .section-leisure .section-body .leisure-item .add-info {
        margin-left: 0;
        margin-right: 20px
    }
}

.section-leisure .section-body .leisure-item .info {
    width: 68%;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

@media (max-width: 960px) {
    .section-leisure .section-body .leisure-item .info {
        width: 90%;
        margin-top: 30px
    }
}

.section-leisure .section-body .leisure-item .heading {
    text-align: right;
    margin-bottom: 30px;
    font-size: 42px;
    font-family: "Cormorant Garamond", serif
}

@media (max-width: 570px) {
    .section-leisure .section-body .leisure-item .heading {
        font-size: 35px
    }
}

.section-leisure .section-body .leisure-item .desc {
    text-align: right;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 28px;
    max-width: 728px
}

@media (max-width: 570px) {
    .section-leisure .section-body .leisure-item .desc {
        font-size: 16px
    }
}