{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/adds/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/adds/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/adds/bem.css' %}">
    <link rel="stylesheet" href="{% static 'css/blocks/footer.css' %}">
    {% block style %}

    {% endblock %}
</head>
<body>
    <div class="wrapper">
        {% block header %}
        {% endblock %}

        {% block modal_video %}
        {% endblock %}

        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer__menu">
                    <h3 class="footer__heading">Menu</h3>
                    <div class="footer__body">
                        <nav class="footer__nav">
                            <ul class="footer__list">
                                <li class="footer__li"> <a href="" class="footer__link">Home</a> </li>
                                <li class="footer__li"> <a href="" class="footer__link">Gallery</a> </li>
                                <li class="footer__li"> <a href="" class="footer__link">Sightseeing</a> </li>
                                <li class="footer__li"> <a href="" class="footer__link">Special Offers</a> </li>
                                <li class="footer__li"> <a href="" class="footer__link">Book Now</a> </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="footer__contacts">
                    <h3 class="footer__heading">Contacts</h3>
                    <div class="footer__body">
                        <p class="footer__address">25 Grecheskaya str, odessa, ukraine</p>
                        <p class="footer__address">7 Yekaterininskaya Sqr, Odessa, Ukraine</p>
                        <div class="footer__numbers"> <a href="" class="footer__number">+380 (68) 455 25 26 </a> <a href=""
                                class="footer__number">+380 (32) 561 92 23</a> </div>
                    </div>
                </div>
                <div class="footer__logo">
                    <a href="" class="footer__logo-img">
                        <img src="{% static 'img/header/logo.svg' %}" alt="logo">
                    </a>
                    <div class="footer__socilas">
                        <a href="" class="footer__soc-item">
                            <img src="{% static 'img/footer/tripadvisor.svg' %}" alt="trip">

                        </a>
                        <a href="" class="footer__soc-item">
                           <img src="{% static 'img/footer/inst.svg' %}" alt="inst">

                        </a>
                        <a href="" class="footer__soc-item">
                            <img src="{% static 'img/footer/face.svg' %}"  alt="face">
                        </a>
                    </div>
                </div>
                <div class="top scroll-to-top">
                    <span class="top__arrow"></span>
                    <p class="top__text">to the top</p>
                </div>
            </div>
        </footer>
    </div>
    <script>
            let selected_language = document.querySelector(".lang-select__option.selected");
            let current_language = document.querySelector(".lang-select__trigger p");
            current_language.textContent = selected_language.textContent.toUpperCase();
            let count = localStorage.getItem('count');
            let cart_count = document.querySelector('.cart-count');
            cart_count.innerHTML = count;
    </script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    {% block scripts %}

    {% endblock %}
</body>
</html>