{% extends 'base.html' %}
{% load i18n %}
{% load custom_filters %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/blocks/header-white.css' %}">
    <link rel="stylesheet" href="{% static 'css/adds/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'css/adds/keyframes.css' %}">
{% endblock %}

{% block header %}
    {% include 'include/header-white.html' %}
{% endblock %}

{% block modal_video %}

{% endblock %}

{% block content %}

 <section class="section-map section">
            <div class="contacts">
                <h1 class="contacts__header-heading">{% trans "Contacts" %}</h1>
                <div class="contacts__wrapper">
                    <div class="contacts__booking">
                        <h3 class="contacts__heading">{% trans "Booking service" %}</h3> <a href="mailto:booking@hotel-ekaterina.com"
                            class="contacts__email">booking@hotel-ekaterina.com</a>
                        <div class="contacts__numbers"> <a href="tel:+380672525439" class="contacts__number">+38 (067)
                                25 25 439</a> <a href="tel:+380672525439" class="contacts__number">+38 (067) 25 25
                                439</a> </div>
                    </div>
                    <div class="contacts__hotels">
                        <div class="contacts__hotel">
                            <h3 class="contacts__heading"> Hotel Ekaterina </h3>
                            <p class="contacts__address"> 25 Grecheskaya Str. Odessa, Ukraine </p>
                            <div class="contacts__numbers"> <a href="tel:+380672525439" class="contacts__number">+38
                                    (067) 25 25 439</a> <a href="tel:+380672525439" class="contacts__number">+38 (067)
                                    25 25 439</a> </div>
                        </div>
                        <div class="contacts__hotel">
                            <h3 class="contacts__heading"> Hotel Ekaterina </h3>
                            <p class="contacts__address"> 25 Grecheskaya Str. Odessa, Ukraine </p>
                            <div class="contacts__numbers"> <a href="tel:+380672525439" class="contacts__number">+38
                                    (067) 25 25 439</a> <a href="tel:+380672525439" class="contacts__number">+38 (067)
                                    25 25 439</a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map">
                <picture>
                    <source srcset="{% static 'img/contacts/map.webp' %}" type="image/webp">
                    <img src="{% static 'img/contacts/map.png' %}" alt="map">
                </picture>
            </div>
        </section>
        <section class="section-reviews-cont section">
            <h2 class="heading">{% trans "Reviews" %}</h2>
            <div class="reviews__wrapper">
                <div class="hear">
                    <h3 class="hear__heading">{% trans "we would like to hear from you" %}</h3>
                    <p class="hear__desc"> {% trans "Leave us your review note" %} </p>
                    {% if messages %}
                        {% for message in messages %}
                            <p style="color: green; font-size: 15px;">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    <form action="{% url 'add_review' %}" class="hear__form" method="post">
                        {% csrf_token %}
                        <div class="input-wrapper"> <input type="text" name="name" class="hear__input" required />
                            <label for="">{% trans "name" %}</label> </div>
                        <div class="input-wrapper"> <input type="text" name="email" class="hear__input" required />
                            <label for="">e-mail</label> </div>
                        <div class="input-wrapper"> <input type="text" name="description" class="hear__input" required />
                            <label for="">{% trans "text" %}</label> </div> <button>Send</button>
                    </form>

                </div>
                <div class="reviews">
                    <div class="reviews__item">
                        <div class="reviews__item-body">
                            <div class="reviews__item-image">
                                <picture>
                                    <source srcset="{% static 'img/home/reviews/user.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/user.png' %}" alt="">
                                </picture>
                            </div>
                            <div class="reviews__item-text">
                                <p class="reviews__item-heading">Greatest stay in my life!</p>
                                <p class="reviews__item-desc">Great location, really pleasant and clean rooms, but the
                                    thing that makes this such a good place to stay are the staff. </p>
                            </div>
                        </div>
                        <div class="stars">
                            <picture>
                                <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                    src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                            </picture>
                            <picture>
                                <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                    src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                            </picture>
                             <picture>
                                <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                    src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                            </picture>
                             <picture>
                                <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                    src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                            </picture>
                             <picture>
                                <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                    src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="swiper-container reviews-slider">
                    <div class="swiper-wrapper">
                        <!-- Slides -->

                        <div class="swiper-slide">
                            <div class="slider-body">
                                <div class="slider-body__photo">
                                    <picture>
                                        <source srcset="{% static 'img/home/reviews/user.webp' %}" type="image/webp"><img
                                            src="{% static 'img/home/reviews/user.png' %}" alt="user">
                                    </picture>
                                </div>
                                <div class="slider-body__info">
                                    <p class="slider-body__heading">Greatest stay in my life!</p>
                                    <p class="slider-body__desc">Great location, really pleasant and clean rooms, but
                                        the thing that makes this such a good place to stay are the staff. All of the
                                        people are incredibly helpful and generous with their time and advice. </p>
                                </div>
                            </div>
                            <div class="slider-stars">
                                <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                            <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                                <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                                <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slider-body">
                                <div class="slider-body__photo">
                                    <picture>
                                        <source srcset="{% static 'img/home/reviews/user.webp' %}" type="image/webp"><img
                                            src="{% static 'img/home/reviews/user.png' %}" alt="user">
                                    </picture>
                                </div>
                                <div class="slider-body__info">
                                    <p class="slider-body__heading">Greatest stay in my life!</p>
                                    <p class="slider-body__desc">Great location, really pleasant and clean rooms, but
                                        the thing that makes this such a good place to stay are the staff. All of the
                                        people are incredibly helpful and generous with their time and advice. </p>
                                </div>
                            </div>
                            <div class="slider-stars">
                                <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                            <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                                <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                                <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slider-body">
                                <div class="slider-body__photo">
                                    <picture>
                                        <source srcset="{% static 'img/home/reviews/user.webp' %}" type="image/webp"><img
                                            src="{% static 'img/home/reviews/user.png' %}" alt="user">
                                    </picture>
                                </div>
                                <div class="slider-body__info">
                                    <p class="slider-body__heading">Greatest stay in my life!</p>
                                    <p class="slider-body__desc">Great location, really pleasant and clean rooms, but
                                        the thing that makes this such a good place to stay are the staff. All of the
                                        people are incredibly helpful and generous with their time and advice. </p>
                                </div>
                            </div>
                            <div class="slider-stars">
                                <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                            <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                                <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                                <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slider-body">
                                <div class="slider-body__photo">
                                    <picture>
                                        <source srcset="{% static 'img/home/reviews/user.webp' %}" type="image/webp"><img
                                            src="{% static 'img/home/reviews/user.png' %}" alt="user">
                                    </picture>
                                </div>
                                <div class="slider-body__info">
                                    <p class="slider-body__heading">Greatest stay in my life!</p>
                                    <p class="slider-body__desc">Great location, really pleasant and clean rooms, but
                                        the thing that makes this such a good place to stay are the staff. All of the
                                        people are incredibly helpful and generous with their time and advice. </p>
                                </div>
                            </div>
                            <div class="slider-stars">
                                <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                            <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                                <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                                <picture>
                                    <source srcset="{% static 'img/home/reviews/Star.webp' %}" type="image/webp"><img
                                        src="{% static 'img/home/reviews/Star.png' %}" alt="star">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

{% block scripts %}


{% endblock %}
